#countLabel {
    display: block;
    text-align: center;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

#buttonContainer {
    display: block;
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons:hover {
    background-color: #45a049;
}